# Yarn related files and directories
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*

# IDE directories and files
.vscode
.DS_Store

*.tgz

# Node.js files
node_modules/
*.log

# Build files
dist/
build/

# Yalc related files
.yalc
yalc.lock
